<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" >
    <canvas id="myChart" width="400" height="400" background-color: #444040></canvas>
  </div> 
  <ion-button color="dark" (click)="Cargar()">Cargar</ion-button>
  
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-button color="dark" href="#filters1">
    
      <ion-icon name="options"></ion-icon>
    
  </ion-button>
</ion-fab>

<div id="filters1" class="overlay">
	<div class="filters">
		<h2>Filters</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Aca van los filtros
		</div>
	</div>
</div>
</ion-content>

